<div class="hotline-phone-1">
    <div class="quick-alo-phone quick-alo-green quick-alo-show d-xl-block" id="quick-alo-phoneIcon">
        <a href="tel:0789752468" title="Gọi ngay" data-wpel-link="internal">
            <div class="quick-alo-ph-circle">
            </div>
            <div class="quick-alo-ph-circle-fill">
            </div>
            <div class="quick-alo-ph-img-circle">
            </div>
            <span class="phone_text">Hotline 0789.75.2468</span>
        </a>
    </div>
</div>