<button id="chatbot-toggle-btn">
    <img src="~/img/chatbot.png" width="50px" height="50px" />
</button>

<div class="chatbot-popup" id="chatbot-popup" style="display:none;">
    <div class="chat-header">
        <span>Chatbot</span>
        <button id="close-btn">&times;</button>
    </div>
    <div class="chat-box" id="chat-box"></div>
    <div class="chat-input">
        <input type="text" id="user-input" placeholder="Nhập tin nhắn..">
        <button id="send-btn">Gửi</button>
    </div>
    <div class="copyright">
        <a href="#" target="_blank">copyright by ViFiReTek.VN</a>
    </div>
</div>
