@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Security.Claims
@inject LanguageService language


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Trang chủ</title>

    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap v5.0.1 -->
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="~/css/hover.css" type="text/css" rel="stylesheet">
    <link href="~/css/home.css" type="text/css" rel="stylesheet">
    <link href="~/css/reponsive.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="Tab icon" href="assets/images/sparrow favicon.png"type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <script src="~/js/bootstrap.bundle.js" type="text/javascript"></script>

    <!-- Bootstrap Icons v1.5.0 -->
    <link href="~/css/bootstrap-icons.css" type="text/css" rel="stylesheet">
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.9.0/sweetalert2.min.js" integrity="sha512-GAaXlfJeIbLNG2LQu2v4pf8YEc7iPz+GE3LZyUmdR7d7Id5JsER9vmJVxMKw1MqmdlVh3NXxTxQVd9AS53G+4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom Styles -->
    <link href="~/css/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- _Header -->
    @await Html.PartialAsync("_Header.cshtml")

    <!-- _Navbar -->
    @await Html.PartialAsync("_Navbar.cshtml")

    <section class="section-content mb-2">
        @RenderBody()
    </section>

    <!-- _Footer -->
    @await Html.PartialAsync("_Footer.cshtml")

    <a href="#" id="back-to-top" title="Back to top"> <i class="fa-sharp fa-solid fa-circle-up"></i> </a>
    <style>
        #back-to-top {
            position: fixed;
            z-index: 999;
            bottom: 20px;
            right: 20px;
            display: none;
            cursor: pointer;
            font-size: xx-large;
        }

            #back-to-top.show {
                display: block;
                z-index: 999;
            }
    </style>

    <script>
        var backToTop = document.querySelector('#back-to-top');

        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                backToTop.classList.add('show');
            } else {
                backToTop.classList.remove('show');
            }
        });

        backToTop.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Sử dụng CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bao gồm SweetAlert2 từ CDN -->
    <script src="~/js/apiaddress.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/lib/signalr.js/jquery.signalr.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/notification-mail.js"></script>
    <script src="~/js/cart.js"></script>
</body>

</html>