@model WebsiteBanHang.Areas.Admin.Models.InventoriesModel

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa Số Lượng Sản Phẩm</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="EditFormInventory">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" class="form-control mb-3" asp-for="Id">
        <input type="hidden" class="form-control mb-3" asp-for="MaKho">

        <div class="mb-3">
            <label asp-for="ProductId" class="control-label">Tên Sản Phẩm</label>
            <select asp-for="ProductId" asp-items="ViewBag.loaiProductList" id="ProductId" class="form-control" >
                <option value="">Chọn Tên sản phẩm</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="NgayNhap" class="control-label">Ngày Nhập</label>
            <input asp-for="NgayNhap" class="form-control" required />
            <span asp-validation-for="NgayNhap" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SoLuong" class="control-label">Số Lượng</label>
            <input asp-for="SoLuong" class="form-control" required />
            <span asp-validation-for="SoLuong" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="button" onclick="validateEditInventori()" class="btn btn-primary">Lưu Thông Tin</button>
        </div>
    </form>
</div>

