
@{
    ViewData["Title"] = "Check_verification";
    Layout =null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiểm Tra</title>
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet">
    <script src="~/js/bootstrap.bundle.js" type="text/javascript"></script>

    <!-- Bootstrap Icons v1.5.0 -->
    <link href="~/css/bootstrap-icons.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style-with-prefix.css">
    <style>
        .srouce {
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="form-container">


            <div class="form-body">
                <h4 class="card-title mb-4">Chào bạn <span class="fs-5 text-white text-uppercase">@ViewBag.Fullname </span>, bạn hãy vào email của bạn để lấy mã xác thực để kích hoạt tài khoản !!! </h4>
                <form asp-controller="Account" asp-action="Check_Verification" method="post" class="the-form">
                    <label for="inputUsernamecheck" class="form-label">Nhập Mã Xác Minh Của Bạn </label>
                    <input type="text" class="form-control" id="inputCode" name="code">
                    <span id="error-message" class="text-danger" style="display:none;">Mã xác minh không đúng.</span>

                    <input type="submit" value="Xác Nhận">

                </form>

            </div><!-- FORM BODY-->

       
        </div><!-- FORM CONTAINER -->
    </div>
</body>
</html>
