@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-content" style="margin: 100px 0;">
    <div class="card mx-auto" style="max-width: 380px">
        <div class="card-body">
            <h4 class="card-title mb-4 text-white d-flex justify-content-center text-uppercase">Đăng ký Thành Viên</h4>
            <form asp-controller="Account" asp-action="Index" method="post"  onsubmit="return validateForm()" >
                <div class="mb-3">
                    <label for="inputEmail" class="form-label text-white">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email">
                    <span id="emailError" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputName" class="form-label text-white">Họ tên</label>
                    <input type="text" class="form-control" id="inputName" name="fullname">
                    <span id="fullnameError" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputPhoneNumber" class="form-label text-white">Số điện thoại</label>
                    <input type="number" class="form-control" id ="inputPhoneNumber" name="phoneNumber">
                    <span id="phoneNumberError" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputAddress" class="form-label text-white">Địa chỉ</label>
                    <input type="text" class="form-control" id="inputAddress" name="address">
                    <span id="addressError" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label text-white">Mật khẩu</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                    <span id="passwordError" class="text-danger"></span>
                </div>
                <button type="submit" id="register" class="btn text-uppercase text-dark" style="background:white ; margin-top:15px; width:50%;margin-left: 23%">Đăng ký</button>
            </form>
        </div>
        <!-- card-body.// -->
    </div> <!-- card.// -->
    <p class="text-center mt-4">Đã có tài khoản? <a asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a></p>
</section> <!-- section-content.// -->
