@model WebsiteBanHang.Areas.Admin.Models.BrandModel
<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa Hãng sản phẩm</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form  id="EditFormBrand">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" class="form-control mb-3" asp-for="Id">

        <div class="mb-3">
            <label asp-for="MaHang" class="control-label"></label>
            <input asp-for="MaHang" class="form-control" readonly />
            <span asp-validation-for="MaHang" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TenHang" class="control-label"></label>
            <input asp-for="TenHang" class="form-control" />
            <span asp-validation-for="TenHang" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="XuatXu" class="control-label"></label>
            <input asp-for="XuatXu" class="form-control" />
            <span asp-validation-for="XuatXu" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NgaySanXuat" class="control-label"></label>
            <input asp-for="NgaySanXuat" class="form-control" />
            <span asp-validation-for="NgaySanXuat" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" onclick="validateEditBrand()">Lưu Thông Tin</button>
        </div>
    </form>

</div>

