@model WebsiteBanHang.Areas.Admin.AdminDTO.UserCreateDto

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Cập Nhật Người Dùng</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="EditFormUser">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" id="Id" type="hidden" class="form-control" />
        <div class="mb-3">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" id="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HoTen" class="control-label">Họ Tên</label>
            <input asp-for="HoTen" id="HoTen" class="form-control" />
            <span asp-validation-for="HoTen" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SoDienThoai" class="control-label">Số Điện Thoại</label>
            <input asp-for="SoDienThoai" id="SoDienThoai" class="form-control" />
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
            <input asp-for="DiaChi" id="DiaChi" class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>
            <div class="mb-3">
                <label asp-for="VaiTroId" class="control-label">Vai Trò</label>
            <select asp-for="VaiTroId" id="VaiTroId" asp-items="ViewBag.Vatrolist" id="VaiTroId" class="form-control">
                    <option value="">Chọn Vai Trò </option>
                </select>
                <span asp-validation-for="VaiTroId" class="text-danger"></span>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" onclick="validateAndEditUser()" class="btn btn-primary">Lưu Thông Tin</button>
        </div>
    </form>
</div>

