<div class="row p-2">
    <div class="col-sm">
        <div class="float-sm-right">
            <button type="submit" class="btn btn-success save-button"><i class="fas fa-save"></i>Lưu thông tin</button>
            <button type="reset" class="btn btn-primary"><i class="fas fa-sync"></i>Làm mới</button>
        </div>
    </div>
</div>