<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link href="~/layoutadmin/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/layoutadmin/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/layoutadmin/assets/stylesheet.css" rel="stylesheet" />
    <!-- Layout styles -->
    <link href="~/layoutadmin/assets/css/style.css" rel="stylesheet" />
    <link href="~/lib/datatables.net/datatables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net/datatables.bootstrap4.min.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../LayoutAdmin/assets/images/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.9.0/sweetalert2.all.js" integrity="sha512-Gj7qCEK1iGn8FZv0PG0cT7jCxOASayniKKK8cF/S5/1C65S4aXCUgvnBBsUm94g/jyeBYkDcLMTtTUYHGVC+Pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Html.PartialAsync("_NavbarAdmin.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @await Html.PartialAsync("_SidebarAdmin.cshtml")
            <!-- container-scroller -->
            <!-- partial -->
            @RenderBody()
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- plugins:js -->
    @await Html.PartialAsync("_Scripts.cshtml")
    <!-- End custom js for this page -->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>