<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 2</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js" asp-append-version="true"></script>
    <script src="~/lib/ckeditor/plugins/image2/plugin.min.js" asp-append-version="true"></script>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/layoutadmin/lte/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/layoutadmin/lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link href="~/lib/ckeditor/contents.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/layoutadmin/lte/dist/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/layoutadmin/lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/layoutadmin/lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/layoutadmin/lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.9.0/sweetalert2.all.js" integrity="sha512-Gj7qCEK1iGn8FZv0PG0cT7jCxOASayniKKK8cF/S5/1C65S4aXCUgvnBBsUm94g/jyeBYkDcLMTtTUYHGVC+Pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        @await Html.PartialAsync("_Logo.cshtml")
        <!-- Navbar -->
        @await Html.PartialAsync("_NavbarAdmin.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("_SidebarAdmin.cshtml")

        @RenderBody()
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        @await Html.PartialAsync("_Footer.cshtml")
    </div>
    @await Html.PartialAsync("_Scripts.cshtml")
    <!-- End custom js for this page -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
