<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link href="~/layoutadmin/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/layoutadmin/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/layoutadmin/assets/stylesheet.css" rel="stylesheet" />
    <!-- Layout styles -->
    <link href="~/layoutadmin/assets/css/style.css" rel="stylesheet" />
    <link href="~/lib/datatables.net/datatables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net/datatables.bootstrap4.min.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../LayoutAdmin/assets/images/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.9.0/sweetalert2.all.js" integrity="sha512-Gj7qCEK1iGn8FZv0PG0cT7jCxOASayniKKK8cF/S5/1C65S4aXCUgvnBBsUm94g/jyeBYkDcLMTtTUYHGVC+Pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Html.PartialAsync("_NavbarAdmin.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @await Html.PartialAsync("_SidebarAdmin.cshtml")
            <!-- container-scroller -->
            <!-- partial -->
            @RenderBody()
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- plugins:js -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/LayoutAdmin/assets/js/admin.js"></script>
    <script src="~/LayoutAdmin/assets/js/alertsweet2.js"></script>
    <script src="~/LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/LayoutAdmin/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/LayoutAdmin/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/LayoutAdmin/assets/js/dashboard.js"></script>
    <script src="~/LayoutAdmin/assets/js/todolist.js"></script>
    <script src="~/LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/LayoutAdmin/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/LayoutAdmin/assets/js/chart.js"></script>
    <script src="~/layoutadmin/assets/js/javascript.js"></script>
    <script src="~/lib/signalr.js/jquery.signalr.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/layoutadmin/assets/js/notification-oders.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/jquery.datatables.js"></script>
    <script src="~/lib/datatables.net/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables.net/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net/datatables.bootstrap4.min.js"></script>
    <!-- End custom js for this page -->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>