<div class="col-md-12">
    <div class="chart">
        <canvas id="statusChart" height="180" style="height: 180px;"></canvas>
    </div>
    <br />
    <div class="d-flex justify-content-center">
        <p class="fs-1">Thống kê tổng số lượng sản phẩm theo trạng thái</p>
    </div>
</div>
@section Scripts {
    <script>
        var statusLabels = @Html.Raw(Json.Serialize(ViewBag.Months));
        var statusData = @Html.Raw(Json.Serialize(ViewBag.ChartData));
        renderStatusChart(statusLabels, statusData);
    </script>
}