@{
    ViewData["Title"] = "Page Not Found";
    Layout = null;
}


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404</title>
    <link href="~/css/statuscode/404.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="text">
        <div>
            <a class="go_back" href="/">Go Back</a>
        </div>
        <h1>404</h1>
        <hr>
        <div>Page Not Found</div>
    </div>

    <div class="astronaut">
        <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
    </div>

    <script src="~/js/statuscode/404.js"></script>
</body>

</html>