@model WebsiteBanHang.Areas.Admin.Models.ProductModel

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Sản Phẩm</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form  id="createFormProduct" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="TenSanPham" class="control-label">Tên Sản Phẩm</label>
            <input asp-for="TenSanPham" name="TenSanPham" id="TenSanPham" class="form-control" />
            <span asp-validation-for="TenSanPham" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="HangId" class="control-label">Hãng Sản Phẩm</label>
            <select asp-for="HangId" asp-items="ViewBag.hangProductList" id="HangId" class="form-control">
                <option value="">Chọn hãng sản phẩm</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="LoaiId" class="control-label">Loại Sản Phẩm</label>
            <select asp-for="LoaiId" asp-items="ViewBag.loaiProductList" id="LoaiId" class="form-control">
                <option value="">Chọn loại sản phẩm</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="GiaNhap" class="control-label">Giá Nhập </label>
            <input asp-for="GiaNhap" type="text" id="GiaNhap" class="form-control" oninput="formatCurrency(this)" onkeypress="return isNumberKey(event)" />
            <span asp-validation-for="GiaNhap" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GiaBan" class="control-label">Giá Bán </label>
            <input asp-for="GiaBan" type="text" id="GiaBan" class="form-control" oninput="formatCurrency(this)" onkeypress="return isNumberKey(event)" />
            <span asp-validation-for="GiaBan" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GiaGiam" class="control-label">Giảm(%)</label>
            <input asp-for="GiaGiam" type="number" id="GiaGiam" class="form-control"/>
            <span asp-validation-for="GiaGiam" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="control-label">Ảnh Sản Phẩm</label>
            <input type="file" name="imageFile" id="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ThongTinSanPham" class="control-label">Thông Tin Sản Phẩm</label>
            <input asp-for="ThongTinSanPham" id="ThongTinSanPham" class="form-control" />
            <span asp-validation-for="ThongTinSanPham" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" onclick="validateAndSubmitProduct()" class="btn btn-primary">Lưu Thông Tin</button>
        </div>
    </form>

</div>
