    @model WebsiteBanHang.Areas.Admin.Models.ProductModel

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Hãng sản phẩm</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="post" asp-area="Admin" asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
         @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div class="mb-3">
            <label asp-for="MaSanPham" class="control-label"> Mã Sản Phẩm</label>
            <input asp-for="MaSanPham" class="form-control" />
            <span asp-validation-for="MaSanPham" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TenSanPham" class="control-label">Tên Sản Phẩm</label>
            <input asp-for="TenSanPham" class="form-control" />
            <span asp-validation-for="TenSanPham" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Brand" class="control-label">Hãng Sản Phẩm</label>
            <select asp-for="Brand.Id" asp-items="ViewBag.hangProductList" name="HangId"  class="form-control">
                <option value="">Chọn hãng sản phẩm</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Category" class="control-label">Loại Sản Phẩm</label>
            <select asp-for="Category.Id" asp-items="ViewBag.loaiProductList" name="LoaiId" class="form-control">
                <option value="">Chọn loại sản phẩm</option>
            </select>
        </div>


        <div class="mb-3">
            <label asp-for="Gia" class="control-label">Gía Sản Phẩm</label>
            <input asp-for="Gia" class="form-control" id="formattedGia" oninput="formatCurrency(this)" />
            <span asp-validation-for="Gia" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GiaGiam" class="control-label">Gía Giảm</label>
            <input asp-for="GiaGiam" class="form-control" />
            <span asp-validation-for="GiaGiam" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="control-label">Ảnh Sản Phẩm</label>
            <input type="file" name="imageFile"  asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ThongTinSanPham" class="control-label">Thông Tin Sản Phẩm</label>
            <input asp-for="ThongTinSanPham" class="form-control" />
            <span asp-validation-for="ThongTinSanPham" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu Thông Tin</button>
        </div>
    </form>
</div>


