* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
}


/* header */

.img-fluid {
    max-width: 100%;
    height: auto;
}

header .navbar {
    display: flex;
}

header {
    background-color: #fff;
}

header .navbar__search-form {
    border: none;
    border-radius: 4px;
    width: 500px;
    height: 40px;
    background-color: #fff;
    position: relative;
    margin: 25px 0;
    z-index: 999;
}

header .navbar__logo {
    width: 200px;
    margin-top: 5px;
}

header .navbar__search-form button {
    background-color: #2b80dd;
    color: #fff;
}

header .navbar__hotline {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

header .navbar__cart a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

header .navbar__cart i {
    font-size: 25px;
    margin-right: 5px;
    color: red;
}

header .navbar__cart {
    position: relative;
}

header .navbar__cart .cart-quantity-counter {
    position: absolute;
    right: 66px;
    top: -4px;
    background: #2b80dd;
    color: #fff;
    padding: 3px 5px 2px 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
    border-radius: 9999px;
}

header .menu {
    background-color: #2b80dd;
}

header .menu a {
    color: #fff;
    font-size: 12.5px;
}

header .menu .menu__toggler {
    color: #fff;
    font-size: 30px;
}

.img__span {
    max-width: 100%;
    height: auto;
}


/* main */

.main {
    display: block;
}

.spanner2 img {
    width: 100%;
}

.products .pro-head {
    margin-bottom: 10px;
    background: #2b80dd;
    margin-top: 30px;
}

.products .product-title a {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 40px;
    padding: 0 40px 0 24px;
    text-decoration: none;
    color: #fff;
}

.product-item .product__show .card .card-body .product_price {
    font-size: 16px;
    color: #a29c9cd7;
    margin-left: 10px;
    text-decoration: line-through;
    padding-top: 5px;
    font-style: normal;
}

.product-item .product__show .card .card-body .product_discount-price {
    font-size: 20px;
    color: red;
    font-weight: 600;
}

.product-item .product__show .card .card-img-top {
    max-width: 300px;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item .product__show .card .card-title {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-item .product__show .card .card-info {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}


/* footer */

.tintuc-footer .container {
    background-color: white;
    margin-bottom: 40px;
}

.tintuc-footer .main-title {
    color: #2b80dd;
    font-size: 20px;
    border-bottom: 2px solid;
    padding-top: 20px;
    font-weight: 500;
}

.tintuc-footer img {
    width: 260px;
    height: 140px;
}

.list-tintuc {
    margin-top: 20px;
}

.list-tintuc .info-tintuc {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.425);
}

.list-tintuc .title-tintuc a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.footer-link {
    background-color: white;
    padding-top: 40px;
}

.h_line {
    width: 100%;
    margin: 25px 0 10px 0;
    border: 1px dashed #d0d0d0;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-link ul li {
    position: relative;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.518);
}

.share {
    display: flex;
    align-items: center;
}

.bi {
    margin-right: 15px;
    display: inline-block;
    font-size: 16px;
}

i.bi.bi-tiktok {
    background: black;
    color: white;
    padding: 11px 10px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

i.bi.bi-facebook {
    background: rgb(0, 38, 255);
    color: rgb(255, 255, 255);
    padding: 11px 10px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

.bi-youtube {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 11px 10px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

.items {
    background-color: #2b80dd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.content--support {
    display: flex;
    flex-direction: column;
}

.icon--phone {
    padding: 10px;
}

.icon--phone i.bi {
    font-size: 30px;
}

.content--support a {
    text-decoration: none;
    color: white;
}


/* form_login */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #0000006e;
}

.h-custom {
    height: calc(100% - 73px);
}


/* cho nút ẩn hiện thêm sản phẩm */

.product__show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item .btn-show-more {
    margin: 20px auto;
}

@media (max-width: 768px) {
    .product-item .btn-show-more {
        margin: 10px auto;
    }
}

/* chat open and close */
.chat-bar-open {
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 40px;
    left: 50px;
}

.chat-bar-close {
    display: none;
    z-index: 10;
    text-align: center;
    position: fixed;
    bottom: 40px;
    left: 50px;
}

    .chat-bar-open .close,
    .chat-bar-close .close {
        background-color: #fff;
        width: 70px;
        cursor: pointer;
        height: 70px;
        padding: 15px;
        border-radius: 50%;
        border-style: none;
        vertical-align: middle;
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
    }

    .chat-bar-close .close {
        width: 56px;
        height: 56px;
        padding: 12px;
    }

.chat-bar-open .close img {
    height: 40px;
}

.chat-bar-close .close i {
    font-size: 30px;
}

.chat-bar-open .close::after {
    position: absolute;
    content: "";
    top: 43px;
    left: 37px;
    transform: rotate(-51deg);
    border-left: 23px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
}

.chat-bar-close .close::after {
    position: absolute;
    content: "";
    top: 27px;
    left: 23px;
    transform: rotate(-55deg);
    border-left: 24px solid transparent;
    border-right: 29px solid transparent;
    border-top: 31px solid #fff;
}

/* chat window 1 */
.chat-window {
    width: 332px;
    height: 310px;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    z-index: 9999999;
    position: fixed;
    bottom: 120px;
    left: 54px;
    display: none;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
}

.hi-there {
    background-color: #7f8ac5;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
}

    .hi-there .p1 {
        font-size: 20px;
    }

    .hi-there .p2 {
        font-size: 13px;
    }

.chat-window .start-conversation {
    padding: 15px 24px;
}

    .chat-window .start-conversation h1 {
        font-size: 15px;
    }

    .chat-window .start-conversation p {
        font-size: 12px;
    }

    .chat-window .start-conversation button {
        cursor: pointer;
        border: none;
        border-radius: 20px;
        padding: 7px 30px;
        margin: 10px 0px;
        background-color: #13a884;
        color: white;
    }

        .chat-window .start-conversation button span {
            font-size: 14px;
        }

        .chat-window .start-conversation button i {
            font-size: 16px;
            position: relative;
            left: 6px;
            top: 3px;
        }

/* chat window 2 */
.chat-window2 {
    display: none;
    width: 332px;
    height: 434px;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    z-index: 9999999;
    position: fixed;
    bottom: 120px;
    left: 54px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
}

    .chat-window2 .hi-there .p2 {
        font-size: 12px;
    }

.message-box {
    height: 316px;
    width: 100%;
    padding-right: 5px;
    overflow: auto;
}

.message-box .first-chat {
        width: 200px;
        float: right;
        background-color: #4c5aa1;
        padding: 10px;
        margin: 14px 0px;
        border-radius: 5px;
        color: white;
}

        .message-box .first-chat p {
            font-size: 12px;
            overflow-wrap: break-word;
        }

        .message-box .first-chat .arrow {
            content: "";
            width: 0px;
            height: 0px;
            border-left: 9px solid transparent;
            border-right: 9px solid #4c5aa1;
            border-top: 9px solid #4c5aa1;
            border-bottom: 9px solid transparent;
            right: -172px;
            bottom: -23px;
            position: relative;
            margin-top: -15px;
        }

    .message-box .second-chat {
        display: inline-block;
    }

        .message-box .second-chat .circle {
            background-image: url('../img/vietnam.png');
            border-radius: 50%;
            float: left;
            padding: 16px;
            margin-top: 10px;
            margin-right: 5px;
        }

        .message-box .second-chat #circle-mar {
            margin-top: 5px;
        }

        .message-box .second-chat p {
            font-size: 12px;
            overflow-wrap: break-word;
        }

        .message-box .second-chat p {
            width: 200px;
            float: left;
            background-color: #ecf1fb;
            padding: 12px;
            margin: 0px 5px;
            border-radius: 10px;
            color: #000;
        }

        .message-box .second-chat .arrow {
            content: "";
            width: 0px;
            height: 0px;
            border-right: 9px solid transparent;
            border-left: 9px solid #ecf1fb;
            border-top: 12px solid #ecf1fb;
            border-bottom: 9px solid transparent;
            margin-left: 40px;
            margin-top: -2%;
            display: inline-block;
        }

.chat-window2 .input-box {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 30px;
    padding-bottom: 18px;
    border-top: 1px solid lightgray;
}

    .chat-window2 .input-box .write-reply {
        float: left;
    }

        .chat-window2 .input-box .write-reply input[type="text"] {
            border: none;
            outline: none;
            font-size: 14px;
        }

    .chat-window2 .input-box .send-button {
        float: right;
        border: none;
        outline: none;
    }

        .chat-window2 .input-box .send-button button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
        }

            .chat-window2 .input-box .send-button button i {
                color: grey;
                font-size: 20px;
                font-weight: bold;
            }

    .chat-window2 .input-box .surveysparrow img {
        width: 15px;
        margin-bottom: -4px;
    }

    .chat-window2 .input-box .surveysparrow p {
        display: inline;
        font-size: 10px;
        color: #636262;
    }

    .chat-window2 .input-box .surveysparrow {
        position: relative;
        bottom: 28px;
        right: -65px;
    }

/* RESPONSIVE */
@media screen and (max-width: 396px) {
    .chat-window {
        right: 14px;
        bottom: 87px;
    }

    .hi-there {
        padding: 12px 30px;
    }

    .chat-window2 {
        right: 14px;
        bottom: 87px;
        height: 420px;
    }

    .chat-bar-open {
        bottom: 20px;
        right: 21px;
    }

    .chat-bar-close {
        bottom: 21px;
        right: 25px;
    }

    .message-box .second-chat .arrow {
        margin-left: 41px;
    }
}
