.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
}


/* header */

.img-fluid {
    max-width: 100%;
    height: auto;
}

header .navbar {
    display: flex;
}

header {
    background-color: #fff;
}

header .navbar__search-form {
    border: none;
    border-radius: 4px;
    width: 500px;
    height: 40px;
    background-color: #fff;
    position: relative;
    margin: 25px 0;
    z-index: 999;
}

header .navbar__logo {
    width: 200px;
    margin-top: 5px;
}

header .navbar__search-form button {
    background-color: #2b80dd;
    color: #fff;
}

header .navbar__hotline {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

header .navbar__cart a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

header .navbar__cart i {
    font-size: 25px;
    margin-right: 5px;
    color: red;
}

header .navbar__cart {
    position: relative;
}

header .navbar__cart .cart-quantity-counter {
    position: absolute;
    right: 66px;
    top: -4px;
    background: #2b80dd;
    color: #fff;
    padding: 3px 5px 2px 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
    border-radius: 9999px;
}

header .menu {
    background-color: #2b80dd;
}

header .menu a {
    color: #fff;
    font-size: 12.5px;
}

header .menu .menu__toggler {
    color: #fff;
    font-size: 30px;
}

.img__span {
    max-width: 100%;
    height: auto;
}


/* main */

.main {
    display: block;
}

.spanner2 img {
    width: 100%;
}

.products .pro-head {
    margin-bottom: 10px;
    background: #2b80dd;
    margin-top: 30px;
}

.products .product-title a {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 40px;
    padding: 0 40px 0 24px;
    text-decoration: none;
    color: #fff;
}

.product-item .product__show .card .card-body .product_price {
    font-size: 16px;
    color: #a29c9cd7;
    margin-left: 10px;
    text-decoration: line-through;
    padding-top: 5px;
    font-style: normal;
}

.product-item .product__show .card .card-body .product_discount-price {
    font-size: 20px;
    color: red;
    font-weight: 600;
}

.product-item .product__show .card .card-img-top {
    max-width: 300px;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item .product__show .card .card-title {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-item .product__show .card .card-info {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}


/* footer */

.tintuc-footer .container {
    background-color: white;
    margin-bottom: 40px;
}

.tintuc-footer .main-title {
    color: #2b80dd;
    font-size: 20px;
    border-bottom: 2px solid;
    padding-top: 20px;
    font-weight: 500;
}

.tintuc-footer img {
    width: 260px;
    height: 140px;
}

.list-tintuc {
    margin-top: 20px;
}

.list-tintuc .info-tintuc {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.425);
}

.list-tintuc .title-tintuc a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.footer-link {
    background-color: white;
    padding-top: 40px;
}

.h_line {
    width: 100%;
    margin: 25px 0 10px 0;
    border: 1px dashed #d0d0d0;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-link ul li {
    position: relative;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.518);
}

.share {
    display: flex;
    align-items: center;
}

.bi {
    margin-right: 15px;
    display: inline-block;
    font-size: 16px;
}

i.bi.bi-tiktok {
    background: black;
    color: white;
    padding: 11px 10px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

i.bi.bi-facebook {
    background: rgb(0, 38, 255);
    color: rgb(255, 255, 255);
    padding: 11px 10px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

.bi-youtube {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 11px 10px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

.items {
    background-color: #2b80dd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.content--support {
    display: flex;
    flex-direction: column;
}

.icon--phone {
    padding: 10px;
}

.icon--phone i.bi {
    font-size: 30px;
}

.content--support a {
    text-decoration: none;
    color: white;
}


/* form_login */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #0000006e;
}

.h-custom {
    height: calc(100% - 73px);
}


/* cho nút ẩn hiện thêm sản phẩm */

.product__show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item .btn-show-more {
    margin: 20px auto;
}

@media (max-width: 768px) {
    .product-item .btn-show-more {
        margin: 10px auto;
    }
}