@{
    ViewData["Title"] = "Check_verification";
    Layout = "~/Areas/Login/Shared/_LayoutLogin.cshtml";
}


<h2>Quên mật khẩu</h2>

<form method="post" asp-area="Login" asp-controller="Account" asp-action="ForgotPassword">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" required />
    </div>
    <button type="submit" class="btn btn-primary">Gửi liên kết đặt lại mật khẩu</button>
</form>
