@{
    ViewData["Title"] = "Check_verification";
    Layout = "~/Areas/Login/Shared/_LayoutLogin.cshtml";
}
@model WebsiteBanHang.Areas.Admin.AdminDTO.ResetPasswordDto

<h2>Đặt lại mật khẩu</h2>

<form method="post" asp-area="Login" asp-controller="Account" asp-action="ResetPassword">
    <input type="hidden" name="Token" value="@Model.Token" />
    <div class="form-group">
        <label for="newPassword">Mật khẩu mới:</label>
        <input type="password" class="form-control" name="NewPassword" required />
    </div>
    <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
</form>
